<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boxi Control App</title>
    <link rel="stylesheet" href="./static/css/style.css">
    {{template "Header" .}}
</head>
<body>
<div id="sidebar" class="sidebar">
    <nav>
        <ul>
            <li><a href="/">Start</a></li>
            <li><a href="/overrides">Manual Lighting</a></li>
            <li><a href="/animations">Animations</a></li>
            <li><a href="/palettes">Palettes</a></li>
            <li><a href="/auto">Auto Mode Settings</a></li>
        </ul>
    </nav>
</div>

<div id="overlay" class="overlay"></div>

<header>
    <button id="menuBtn" class="menu-btn">&#9776;</button>
    <h2>{{.PageTitle}}</h2>
</header>

<main>
    {{template "Content" .}}
</main>

<footer>
    <div id="footer-text">
        Made in 2025 by <a class="creme-text" href="https://cremetoertchen.com">Creme</a> and <span class="foxpaw-text">Foxpaw</span>
    </div>
</footer>

<script src="./static/dist/hammer.min.js"></script>
<script src="./static/js/menu.js"></script>
</body>
</html>
