<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boxi Webapp</title>
    <link rel="stylesheet" href="./static/css/style.css">
    {{template "Header" .}}
</head>
<body>
<div id="sidebar" class="sidebar">
    <nav>
        <ul>
            <li><a href="#">Start</a></li>
            <li><a href="#">Auto Mode</a></li>
            <li><a href="#">Manual Overrides</a></li>
            <li><a href="#">Palettes</a></li>
            <li><a href="#">Animations</a></li>
        </ul>
    </nav>
</div>

<div id="overlay" class="overlay"></div>

<header>
    <button id="menuBtn" class="menu-btn">&#9776;</button>
    <h2>{{.PageTitle}}</h2>
</header>

<main>
    {{template "Content" .}}
</main>

<script src="./static/dist/hammer.min.js"></script>
<script src="./static/js/menu.js"></script>
</body>
</html>
