#animation-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 300px;
    min-width: 220px;
    align-items: center;
    justify-content: center;
}

.animation-item {
    background-color: #9f9f9f;
    padding: 6px 8px;
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.animation-item-preview {
    width: 70px;
    border-radius: 4px;
}

.animation-texts {
    width: 100%;
}

.animation-item-name {
    font-size: 0.9rem;
    font-weight: bold;
    display: block;
}

.animation-item-delete {
    width: 26px;
    background: white;
    height: 32px;
    border-radius: 4px;
    border: solid black 2px;
    padding: 2px;
    cursor: pointer;
}

.animation-item-details {
    font-size: 0.75rem;
}

#animation-add-container {
    background-color: #9f9f9f;
    padding: 6px 8px;
    border: 2px solid black;
    border-radius: 3px;
    height: 32px;
}

.animation-add-container-active {
    height: auto !important;
    width: 100%;
}

#animation-add-dialog {
    display: none;
}

#animation-add-icon {
    height: 32px;
    cursor: pointer;
}

.input-length-limiter {
    min-width: 150px;
    max-width: 180px;
}