main {
    max-width: 300px;
    min-width: 220px;
}

#itemSelectionLabel {
    display: initial;
}


#itemSelection {
    width: calc(100% - 130px);
}

.smallButtons {
    width: 40px;
    height: 24px;
    margin-left: 5px;
    background-color: #9f9f9f;
    color: black;
    border: black solid 2px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    padding: initial;
}

#palette-content {
    background-color: #9f9f9f;
    padding: 15px;
    border-radius: 4px;
    margin-top: 16px;
    width: calc(100% - 30px);
    display: none;
}

tr {
    display: block;
}

.input-header {
    width: 80px;
}

#palette-name {
    width: 160px;
}